<div class="articleWrapper">
    <div class="articles">
        {{#each articles}}
        <div class="card">
            <h4>{{this.title}}</h4>
            <p>Article ID: {{this.id}}</p>
            <p>Article Description: {{this.description}}</p>
            <a href="{{this.link}}" class="articleLinks">Link To Article</a>
            <div class="buttonsDiv">
                <button type="button" class="addNote" id="{{this.id}}">Add A Note</button>
                <button type="button" class="deleteArticle" id="{{this.id}}">Delete From Saved</button>
            </div>
            {{#if this.note}}
                {{#each this.note}}
                <div class="note">
                    <h4>{{this.title}}</h4>
                    <p>{{this.body}}</p>
                </div>
                {{/each}}
            {{/if}}
        </div>
        {{/each}}

        <div class="notesModalBackground">
            <div class="notesModalContent">
                <form action="/articles/note/:id" method="post">
                    Title <input type="text" name="title" class="notesTitle"><br>
                    Note <textarea class="notesText"></textarea><br>
                </form>
                <button type="button" class="submitNote">Save Note!</button>
            </div>
        </div>
    </div>
</div>