<div class="articleWrapper">
    <div class="articles">
        {{#each articles}}
        <div class="card">
            <h4>{{this.title}}</h4>
            <p>Article ID: {{this.id}}</p>
            <p>Article Description: {{this.description}}</p>
            <a href="{{this.link}}" class="articleLinks">Link To Article</a>
            <div class="buttonsDiv">
                <button type="button" class="openNotes">Article Notes</button>
                <button type="button" class="deleteArticle" id="{{this.id}}">Delete From Saved</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>