<div class="indexWrapper">
    <div class="introInfo">
        <h1 class="title">Welcome To The Number One Real Estate News Aggregator</h1>
        <div class="sub-text">
            <p class="text-center">Click the Saved Articles tab if you would like to view all of your previously saved
                articles. On that page, you can even add your own personalized notes to each article and save it for
                later! If it's been a while - click the Scrape New Articles tab in order to upadate your library!
            </p>
        </div>
    </div>
    <div class="articles">
        
        {{#if totalArticles}}
        <h2 class="scrapeCount">Total Articles Scraped: {{totalArticles}}</h2>
        {{/if}}

        {{#each articles}}
        <div class="card">
            <h4>{{this.title}}</h4>
            <p>Article ID: {{this.id}}</p>
            <p>Article Description: {{this.description}}</p>
            <a href="{{this.link}}" class="articleLinks">Link To Article</a>
            <div class="buttonsDiv">
                <button type="button" class="saveButton" id="{{this.id}}">Add To Saved</button>
            </div>
        </div>
        {{/each}}

        
    </div>
</div>